// Single Person template.
.person-template-default {
	.display-person {
		margin-top: 10rem;
		margin-bottom: 4rem;
	}

	.profile-links {
		margin: 2rem 0;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
}

// CPT Person,
// Archive Page. AKA: "The Directory."

.post-type-archive-person {

	.page-header {
		margin-top: 12rem;
		margin-bottom: 4rem;
	}

	section.nonfeatured {
		margin: 4rem 0;

		h2 {
			margin-bottom: 3rem;
		}
	}

	.featured-person,
	.person {

		.post-thumbnail {

			img {

				border-radius: 50%;

			}

		}

	}

}